body {
  font-family: Arial, sans-serif;
  width: 260px;
  padding: 10px;
}

h2 {
  text-align: center;
}

#result {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.safe {
  color: green;
}

.phishing {
  color: red;
}

#confidence {
  text-align: center;
  margin-top: 5px;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 6px;
  cursor: pointer;
}
